   <div ng-include="'views/menu-top.html'" ng-controller="ReadCtrl"></div>
    <div id="maps">    
        <div id="google"></div>
    </div>    
        <a id="tops"   ><img id="img"  src="img/seta_cima.png" alt="closeMap"></a>
        <a id="openMap"><img id="img2" src="img/open.png"      alt="openMap"></a>
    
    <div class="container" >
        <div class="row">
            <div class="col-ms-12 nopadding">            
                <div></div>
            </div>
        </div>
    </div>